button.btn,a{outline:0;}
button.btn:focus,a:focus{outline:0}
.child{margin-left:2em}
.hide{display:none}
.download_file{font-size:2em;color:#333;}
.download_file:hover{color:#777}
.alert-default{border-color:#ddd}
.item-label{cursor:pointer;}
.item-label.default{color:#ccc;}
.item-label.default:hover{color:#616161}
.item-label.default.selected{color:#616161}
.item-label.success{color:#d6e9c6;}
.item-label.success:hover{color:#3c763d}
.item-label.success.selected{color:#3c763d}
.item-label.info{color:#bce8f1;}
.item-label.info:hover{color:#31708f}
.item-label.info.selected{color:#31708f}
.item-label.warning{color:#faebcc;}
.item-label.warning:hover{color:#8a6d3b}
.item-label.warning.selected{color:#8a6d3b}
.item-label.danger{color:#ebccd1;}
.item-label.danger:hover{color:#a94442}
.item-label.danger.selected{color:#a94442}
.sorters{display:inline-block;width:12px;font-size:.7em;margin-left:.8em;margin-bottom:0;vertical-align:top;}
.sorters a{height:10px;position:relative;display:block;text-align:left;color:#ccc;}
.sorters a.active{color:#428bca}
.sorters a:first-child{margin-top:-2px}
.sorters a:last-child{margin-left:-1px}
.nav-pills > li > a{border:1px solid #eee}
.icon{width:24px;height:24px;line-height:24px;display:inline-block;vertical-align:middle;background-repeat:no-repeat;background-image:url("../images/icons/icons.png");background-size:28px 52px;margin-right:.4em;}
.triangle_right-icon{background-position:0 0}
.triangle_down-icon{background-position:0 -28px}
