.icon
	width: 24px
	height: 24px
	line-height: 24px
	display: inline-block
	vertical-align: middle
	background-repeat: no-repeat
	background-image: url("../images/icons/icons.png")
	background-size: 28px 52px
	margin-right: 0.4em
	&.active
		// background-image: url("../images/icons/icons-white.png")

.triangle_right-icon
	background-position: 0 0
	// background-image: url("../images/icons/plus2-icon.png")

.triangle_down-icon
	background-position: 0 -28px
