button.btn, a
	outline: 0
	&:focus
		outline: 0
.child
	margin-left: 2em
.hide
	display: none
.download_file
	font-size: 2em
	color: #333
	&:hover
		color: #777
// Panel
.alert-default
	border-color: #ddd

.item-label
	cursor: pointer
	&.default
		color: #cccccc
		&:hover
			color: #616161
		&.selected
			color: #616161
	&.success
		color: #d6e9c6
		&:hover
			color: #3c763d
		&.selected
			color: #3c763d
	&.info
		color: #bce8f1
		&:hover
			color: #31708f
		&.selected
			color: #31708f

	&.warning
		color: #faebcc
		&:hover
			color: #8a6d3b
		&.selected
			color: #8a6d3b

	&.danger
		color: #ebccd1
		&:hover
			color: #a94442
		&.selected
			color: #a94442

.sorters
	display: inline-block
	width: 12px
	font-size: 0.7em
	margin-left: 0.8em
	margin-bottom: 0
	vertical-align: top
	a
		height: 10px
		position: relative
		display: block
		text-align: left
		color: #ccc
		&.active
			color: #428bca
		&:first-child
			margin-top: -2px
		&:last-child
			margin-left: -1px

.nav-pills > li > a
	border: 1px solid #eee

// Icons
@import icons
